p {
    color: red;
}

body{
    background: url(https://www.10wallpaper.com/wallpaper/1366x768/1408/Beautiful_night_scenery_Galaxy_HD_Wallpaper_03_1366x768.jpg) top center no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: white;

}

.header{
    position:relative;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    height:50vw;
    min-height:40px;
    max-height:80px;
    min-width:150px;
    color:#eee;
  }
  .header:after{
    content:"";
    width:100%;
    height:40%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-1;
   background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
  }
  .header:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);
    background:#000000 top center no-repeat;
    background-size:cover;
    background-attachment:fixed;
    animation: grow 60s  linear 10ms infinite;
    transition:all 0.2s ease-in-out;
    z-index:-2
  }
  .header a{
    color:#eee
  }
  .menu{
    display:block;
    width:30px;
    height:30px;
    border:2px solid #fff;
    border-radius:3px;
    position:absolute;
    right:20px;
    top:20px;
    text-decoration:none
  }
  .menu:after{
    content:"";
    display:block;
    width:20px;
    height:3px;
    background:#fff;
    position:absolute;
    margin:0 auto;
    top:5px;
    left:0;
    right:0;
    box-shadow:0 8px, 0 16px
  }
  .logo{
    border:2px solid #fff;
    border-radius:3px;
    text-decoration:none;
    display:inline-block;
    margin:20px;
    padding:5px 10px;
    font-weight:600;
    font-size:1.2em;
    box-sizing:border-box;
  }

.content-holder{
    height: 100vh;
}

@keyframes fade-in{
    from { opacity: 0; }
    to   { opacity: 1; }
}

#greeting{
    animation: 2s infinite;
    animation-delay: 0.1s;
    animation-name: fade-in;
}

#pasttemperature{
    font-size:calc(12px + 1.5vw);
}
